.top-menu{
    overflow: hidden;
    background-color: blue;
}
.top-menu li{
    list-style: none;
    float: left;
    padding: 6px 120px;
    margin-bottom: 20px;
}
.top-menu li a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.active{
    color: rgba(0, 0, 0, 0.678);
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
.h1{
    margin: auto;
    color: yellow;
    width: 50%;
    border: 3px solid;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;  
}